<!DOCTYPE html>
<!--
SPDX-License-Identifier: GPL-2.0-only OR GPL-3.0-only OR LicenseRef-KDE-Accepted-GPL
SPDX-FileCopyrightText: 2020 Eike Hein <hein@kde.org>
-->

<html lang="en">
<head>
    <title>Konqi Invoice No. {{ invoice.invoice_no() }} - {{ invoice.date() }}</title>
    <style>
        @media print {
            @page { margin: 0; size: {% if invoice.jurisdiction() == 'de' %}A4{% else %}letter{% endif %} }
            body { margin: 1.6cm; }
        }

        body {
            font-family: sans-serif;
            font-size: 11pt;
        }

        #header {
            text-align: right;
            margin-bottom: 2.5cm;
        }

        #evlogo {
            width: 6cm;
            float: left;
        }

        #footer {
            width: 100%;
            position: absolute;
            left: 0px;
            bottom: 1cm;
            font-size: 7pt;
            text-align: center;
        }

        #draft {
            z:-99;
            opacity: 0.3;
            display: block;
            position: absolute;
            top: 25%;
            left: 13%;
            font-size: 150pt;
            color: red;
            transform: rotate(-45deg);
        }

        table {
            width: 100%;
            margin-top: 3.5cm;
            margin-bottom: 1cm;
            border-collapse: collapse;
        }

        tr, th, td {
            border: 1px solid black;
            text-align: left;
            vertical-align: top;
            padding: 0.1cm;
        }

        .amount {
            text-align: right;
            width: 9em;
        }

        .noborder {
            border: none;
        }
    </style>
</head>
<body>
    <p id="header">
        <b>A NAME<br />
        Address St, 123<br />
        12345 Konqi Town<br />
        Germany</b><br />
        Phone: +333 333 333 333<br />
        e-mail: konqi@kde.org<br />
        VAT ID: MYVATID
    </p>
    <p>
        <p style="float: right; margin-top: 1.6cm; text-align: right;">
            <b>{% if invoice.is_corrected() %}Corrected {% endif %}Invoice No. {{ invoice.date().strftime("%Y") }}-{{ '%02d' % invoice.invoice_no() }}</b><br />
            {% if invoice.purchase_order_no() %}<b>Purchase Order No. {{ invoice.purchase_order_no() }}</b><br />{% endif %}
            {% if invoice.comment() %}<span style="font-size: 10pt"><i>{{ invoice.comment() }}</i></span><br />{% endif %}
            <br />
            <br />
            <br />
            Konqi Town, {{ invoice.date().strftime("%B %d, %Y") }}
        </p>
        {{ invoice.recipient() | replace('\\n', '<br />') }}
{% if invoice.vat_id() %}
        <br />
        VAT ID: {{ invoice.vat_id() }}
{% endif %}
    </p>
    <table>
        <tr>
            <th>Pos.</th>
            <th>Description</th>
            <th class="amount">Amount</th>
        </tr>
{% for item in invoice.items() %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item[0] }}</td>
            <td class="amount">{{ '{:n}'.format(item[1]) }} {{ invoice.currency() }}</td>
        </tr>
{% endfor %}

        <tr class="noborder">
            <td class="noborder"></td>
            <td class="noborder"></td>
            <td class="noborder amount"><b>Total: {{ '{:n}'.format(invoice.total()) }} {{ invoice.currency() }}</b></td>
        </tr>
    </table>
{% if invoice.jurisdiction() == 'eu' and invoice.vat_id() and not 'm' in invoice.flags() %}
    <p>VAT reverse-charged.</p>
{% endif %}
{% if not invoice.is_reversal() %}
    <p>
        <br />
        Unless already paid, please pay the amount within the next 3 weeks to the following account:</p>
    <p style="padding-left: 1em;">
        <br />
        Account holder: Konqi money bag.<br />
        Account IBAN: KK3123123123123123123<br />
        BIC/SWIFT code: KDE123<br />
        at Konqi Bank, Somewhere existing
    </p>
{% else %}
    <p>
        <br />
        We apologize for any inconvenience caused by our error.</p>
{% endif %}
    <p style="position: absolute; bottom: 4.5cm">
{% if not invoice.is_reversal() %}
        Thank you! Kind regards,<br />
{% else %}
        Kind regards,<br />
{% endif %}
        <br />
        <br />
        Konqi<br />
        Your favourite mascot
    </p>
    <p id="footer">
        A beautiful footer with interesting information.
    </p>
{% if invoice.is_draft() %}
    <span id="draft">DRAFT</span>
{% endif %}
</body>
</html>
